# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# hobo datafiles
*.hobo

# zipped files
*.zip

#Stormwater heat map which is too large
data/psLandCover_mosaic.tif
data/C-CAP/wa_2021_ccap_v2_hires_canopy_20240402.tif
data/C-CAP/wa_2021_ccap_v2_hires_water_20240405.tif
data/wa_2021_ccap_v2_hires_canopy_20240402.tif
data/C-CAP/wa_2021_ccap_v2_hires_impervious_20240402.tif
data/C-CAP/2020 to 2021 CCAP Version 2 Impervious Cover.xml
Tacoma 2024 LIDAR data/.DS_Store
Tacoma 2024 LIDAR data/data/.DS_Store
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000001.gdbindexes
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000001.gdbtable
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000001.gdbtablx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000001.TablesByName.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000002.gdbtable
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000002.gdbtablx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000003.gdbindexes
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000003.gdbtable
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000003.gdbtablx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000004.CatItemsByPhysicalName.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000004.CatItemsByType.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000004.FDO_UUID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000004.gdbindexes
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000004.gdbtable
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000004.gdbtablx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000004.horizon
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000004.spx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000005.CatItemTypesByName.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000005.CatItemTypesByParentTypeID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000005.CatItemTypesByUUID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000005.gdbindexes
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000005.gdbtable
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000005.gdbtablx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000006.CatRelsByDestinationID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000006.CatRelsByOriginID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000006.CatRelsByType.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000006.FDO_UUID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000006.gdbindexes
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000006.gdbtable
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000006.gdbtablx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000007.CatRelTypesByBackwardLabel.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000007.CatRelTypesByForwardLabel.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000007.CatRelTypesByName.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000007.CatRelTypesByUUID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000007.gdbindexes
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000007.gdbtable
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000007.gdbtablx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000009.EditingTemplatesByDatasetGUID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000009.EditingTemplatesByName.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000009.EditingTemplatesByType.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000009.FDO_GlobalID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000009.gdbindexes
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000009.gdbtable
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a00000009.gdbtablx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000a.EditingTemplateRelsByDestinationID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000a.EditingTemplateRelsByOriginID.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000a.EditingTemplateRelsByType.atx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000a.gdbindexes
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000a.gdbtable
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000a.gdbtablx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000b.freelist
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000b.gdbindexes
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000b.gdbtable
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000b.gdbtablx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000b.horizon
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000b.spx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000c.gdbindexes
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000c.gdbtable
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000c.gdbtablx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000c.horizon
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000c.spx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000d.gdbindexes
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000d.gdbtable
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000d.gdbtablx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000d.horizon
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/a0000000d.spx
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/gdb
Tacoma 2024 LIDAR data/data/LandCover2024.gdb/timestamps
Tacoma 2024 LIDAR data/data/LandCoverData.xlsx
Tacoma 2024 LIDAR data/doc/CityofTacoma_WA_2024_NIR_Analytics_Report_080625.pdf
Tacoma 2024 LIDAR data/layers/LandCover2024.lpkx
